<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{user/layout/index :: dynamic(~{::main})}">


<body>
    <main>
        <!-- <div th:replace="~{user/cart/view :: shopping_cart}"></div> -->
        <div class="panel-primary">
            <form method="post" action="/pay">
                <div class="panel-header-dh">
                    <h2 style="text-align: center;">Thông tin đặt hàng</h2>
                    <br>
                    <hr>
                </div>

                <div class="panel-body-dh">
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <div class="thongtin">Người mua</div>
                            <div class="form-control" id="username" readonly>[[${#request.remoteUser}]]</div>
                        </div>
                        <div class="form-group col-sm-6">
                            <div class="thongtin">Ngày đặt hàng</div>
                            <div class="form-control" readonly>{{order1.createDate | date : 'dd-MM-yyyy HH:mm'}}</div>
                        </div>
    
    
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label" for="province">Tỉnh/Thành
                                    phố</label> <select class="form-select form-control" id="province"></select>
                            </div>
                        </div>
    
                        <div class="form-group col-sm-6">
                            <div class="thongtin">Số điện thoại</div>
                            <input ng-model="order1.phone" class="form-control" style="width: 500px">
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label" for="district">Quận/Huyện</label>
                                <select class="form-select form-control" id="district">
                                    <option value="">Chọn Quận/Huyện</option>
                                </select>
                            </div>
                        </div>
    
    
    
    
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label" for="servece">Phương thức
                                    vận chuyển</label> <select class="form-select form-control" id="service">
                                    <option value="">Phương thức vận chuyển</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label" for="ward">Phường/Xã</label> <select
                                    class="form-select form-control" id="ward">
                                    <option value="">Chọn Phường/Xã</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-outline mb-4">
                                <label class="form-label" for="">Địa chỉ</label>
    
                                <input type="text" id="result" class="form-control" />
                            </div>
                        </div>
    
    
    
                    </div>
    
    
                    <div class="wrapper-cart">
                        <div class="col-sm-offset-8" style="padding: 0 30px;">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <td class="text-right"> <span>Tổng tiền hàng</span></td>
                                        <td class="text-right"> <span>{{cart.amount | number:0}} Đ</span></td>
                                    </tr>
                                    <tr>
                                        <td class="text-right"> <span>Phí vận chuyển</span></td>
                                        <td class="text-right">
                                            <div id="ship">{{0 | number:0}} Đ</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-right"> <span class="text-dark"><strong>Tổng thanh
                                                    toán</strong></span></td>
                                        <td class="text-right">
                                            <div id="total">{{total | number:0}} Đ</div>
                                        </td>
                                    </tr>
    
                                </tbody>
                            </table>
                        </div>
                        
                    </div>

                    <a type="button"  class="ml-auto btn hvr-hover" ng-click="order.purchase1()">
                        Mua hàng</a> 


                </div>


            </form>

        </div>
    </main>
</body>

</html>
<style>
    #total {
        font-size: larger;
        color: red;
    }
    .wrapper-cart {
    padding: 0 30px;
}

.panel-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-dark {
    color: #333;
    font-weight: bold;
}
.btn.hvr-hover {
    width: 200px; /* Thay đổi giá trị width tùy ý */
}
.ml-auto {
    margin-left: 740px; /* Thay đổi giá trị margin-left tùy ý */
}
.btn {
  width: 120px;
}

</style>
